<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="getLordForm()" >add lord</button>
<button onclick="getPlanetForm()" >add Planet</button>
<button onclick="getLordList()" >empty lords</button>
<button onclick="getTopLords()" >10 yong lords</button>
<button onclick="getPlanets()" >planets</button>
<div id="content">

</div>
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/add_lord.js"></script>
<script src="../static/js/add_planet.js"></script>
<script src="../static/js/all_idlers.js"></script>
<script src="../static/js/top_lords.js"></script>
<script src="../static/js/planets.js"></script>
</body>
</html>